/*Creates lined border around login div and creates the width of the login form*/
#login {
  border: 1px solid black;
  width: 700px;
}

/*Puts background image on body and covers it in a fixed position without repeating */
#background-image {
  background-image: url("../src/images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
}

/*Makes background for login form transparent*/
#login-body {
  background: none;
}

/*Makes outside div margins and padding*/
#outside {
  margin: 20px;
  padding: 30px;
}

/*Creates shadow effect on login div*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/*Adds some spacing next to the label before input field*/
label {
  margin-right: 5px;
}
